{% extends 'base.html.twig' %}

{% block title %}Program{% endblock %}

{% block body %}
    <h1>Program</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ program.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ program.title }}</td>
            </tr>
            <tr>
                <th>Summary</th>
                <td>{{ program.summary }}</td>
            </tr>
            <tr>
                <th>Poster</th>
                <td><img src="{{ program.poster }}"></td>
            </tr>
            <strong>Acteur :</strong>
            <ul>
                {% for actor in program.actors %}
                    <li><a href="{{ path('wild_actor', {'id':actor.id}) }}">{{ actor.name }} </a></li>
                {% else %}
                    <li>Aucun acteur disponible (ou connu par nos services !!!) pour cette série</li>
                {% endfor %}
            </ul>
        </tbody>
    </table>

    <a href="{{ path('program_index') }}">Back to List</a>

    <a href="{{ path('program_edit', {'id': program.id}) }}">Edit</a>

    {{ include('program/_delete_form.html.twig') }}
{% endblock %}
