{# templates/wild/show.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}{{ slug }}{% endblock %}

{% block body %}

    <div class="media">
        <img class="align-self-start mr-3" src="{{programs.poster}}" alt="{{ programs.title }} poster">
        <div class="media-body">
            <h1 class="mt-0">{{ programs.title }}</h1>
            <p>{{ programs.summary }}</p>
            <p>Categorie : {{ programs.category.name }}</p>
        </div>
    </div>

    <a href="{{ path('wild_index') }}">
        Retour à l'accueil
    </a>

{% endblock %}
